

/*Comienza el ex-archivo "Colores"*/
.body-all{
  background: #FFFFFA;
}

.btn{
  background-color: #004D40 !important;
  border-color: #E0E0E0 !important;
}

/* .btn-2{
  background-color: #ffffff !important;
  border-color: #24211F !important;
  color: #24211F !important;
} */

.btn:hover{
  background-color: #FF5722 !important;
  border-color: #E0E0E0 !important;
}
.navbar, .footer{
  background-color: #E0E0E0!important;
}

.navbar-brand, .nav-link{
  color: #030105 !important;
}
