.carousel-image {
  margin: 3rem 0;
  height: 25rem;
}

/*Imagen del carousel*/
.carousel-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /*Ajusta la imagen al tamaño del contenedor*/
  object-position: center; /*Centra la imagen*/
}
